/* Dashboard marketplaces panels */
.mrkv_uamrkpl_panel {
	margin: 15px 0;
}
.mrkv_uamrkpl_panel {
	background: #fff;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
}
.blank-block {
	height: 15px;
}

/* Rozetka nav links */
.mrkv-nav-links {
	display: flex;
    flex-direction: row;
	> li {
		margin-right: 50px;
		a {
			text-decoration: none;
		}
		&.active {
			a {
	    		color: #23282d;
				text-decoration: underline;
			}
		}
	}
}
.mrkv-nav-links-content {
	> .link-pane {
		float: left;
		width: 100%;
		display: none;
	}
	> .link-pane.active {
		display: block;
	}
}

/* Rozetka main configurations*/
.mrkv-font-italic {
	font-style: italic;
}

/* Rozetka show hierarchical categories */
.mrkv-uamp-hierarchical-categories li ul li {
	margin-left: 25px;
}
.mrkv-uamp-hierarchical-categories {
	li {
		margin-bottom: 6px;
		label {
			font-weight: 600;
    		display: inline-block;
			width: 300px;
		}
		input {
			margin-bottom: 10px;
		}
	}
}

/* Last xml-file link */
.mrkvuamp_collation_xml_link {
	background-color: #fff;
	padding: 1px;
	max-width: 570px;
	form p {
		padding-left: 10px;
	}
}

/* Class to desable button-primary 'Співставити' */
.mrkv_uamrkpl_collation_btn_desabled {
	margin-right: 10px;
	color: #a0a5aa !important;
	background: #f7f7f7 !important;
	border-color: #ddd !important;
	// color: #66c6e4 !important;
	// background: #008ec2 !important;
	// border-color: #008ec2 !important;
	box-shadow: none !important;
	text-shadow: none !important;
	&:hover {
		cursor: default;
	}
}
