/* Dashboard marketplaces panels */
.mrkv_uamrkpl_panel {
	background: #fff;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
.blank-block {
	height: 15px;
}

/* Rozetka nav links */
.mrkv-nav-links {
	display: flex;
    flex-direction: row;
	> li {
		margin-right: 50px;
		a {
			text-decoration: none;
		}
		&.active {
			a {
	    		color: #23282d;
				text-decoration: underline;
			}
		}
	}
}
.mrkv-nav-links-content {
	> .link-pane {
		float: left;
		width: 100%;
		display: none;
	}
	> .link-pane.active {
		display: block;
	}
}

/* Rozetka main configurations*/
.mrkv-font-italic {
	font-style: italic;
}

/* Rozetka show hierarchical categories */
.mrkv-uamp-hierarchical-categories li ul li {
	margin-left: 25px;
}
.mrkv-uamp-hierarchical-categories {
	li {
		margin-bottom: 6px;
		label {
			font-weight: 600;
    		display: inline-block;
			width: 300px;
		}
		input {
			margin-bottom: 10px;
		}
	}
}
